/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}




body {
  font-family: "Helvetica Neue", Helvetica, Arial;
}

h1 {
  font-size: 200%;
  color: white;
  background-color: #066591;
  text-align: center;
  line-height: 50px;
  height: 50px;
}

#new-tweets{
  background-color: #ffffaf;
  cursor: pointer;
  height: 25px;
  line-height: 25px;
}

.tweet {
 border-top: 1.4px solid #066591;
 padding: 1em;
}

.blue {
  background-color: #8adaff;
}

.tweet-date {
  font-size: 0.7em;
}

.tweet-author {
  font-size: .9em;
  font-weight: bold;
}

.tweet-message {
  font-size: 1.3em;
  margin: 10px 0px 10px 0px;
}


a {
  cursor:pointer;
  color: #066591;
}

.modal {
    display: none;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: #000;
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
    z-index: 1; 
}

.modal-header {
    padding: 4px;
    background-color: #066591;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 1.7em;

}

.modal-footer {
    padding: 2px;
    background-color: #066591;
    color: white;
    text-align: center;
    height: 30px;
    line-height: 30px;
    opacity: 0.2
}

.modal-content {
    position: relative;
    background-color: #ffffff;
    margin: auto;
    padding: 0;
    border: 1px solid #066591;
    width: 80%;
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
